################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplicationInDocker/v15/Server/sqlite3
/WebApplicationInDocker/obj
/WebApplicationInDocker/bin
